{
    "plugins": [
      ["module:react-native-dotenv", {
        "envName": "APP_ENV",
        "moduleName": "@env",
        "path": ".env",
        
        "allowlist": [
            "API_URL",
            "API_USER",
            "API",
            "ORDER",
            "TASK_SOCKET"
        ]
        
      }]
    ]
  }